@import "base";

#rsvp_user_list, #user_rsvp_status {
    margin: 10px 0;

    h3 {
        color: @orange;
        .title-shadow;
        padding: 3px 0;
    }

    fieldset {
        border: 1px dashed #666;
    }
}
