@import "base";

body#events {
    .map-module {
        border: none;
        .module-body{ padding: 3px; }
        .box-shadow(0, 0, 7px, @dark-grey);
    }
}

.event-module {
    .module-head {
        .date-time {
            float: right;
            font-size: 0.9em;
        }
    }
}

#rsvp_user_list, #user_rsvp_status {
    margin: 10px 0;

    h3 {
        color: @orange;
        .title-shadow;
        padding: 3px 0;
    }
}

.event-list {
    padding-top: .6em;
    border-bottom: 1px solid @module-border-color;
    &:last-child { border-bottom: none; }
} 

#rsvp_form {
    label { width: 5em; }
}
